/**
 * @Component Name: Project Variable
 * @Author: NM Peters
 */

/* General Colors */
$black: #000;
$white: #fff;

/* Theme Colors */
$theme-grey: #ebe8e1;
$theme-dk-grey: #232323;
$theme-green: #1b7d5a;
$theme-pink: #e76e66;
$theme-blue: #589aaa;
