/**
 * @Component Name: Game Button
 * @Component Description: Generic Button used in project
 * @Author: NM Peters
 */

.game-button {
  background-color: $theme-blue;
  color: $white;
  padding: 10px;
  display: block;
  border-style: none;
  border-radius: 3px;
}
