/**
 * @Component Name: Game Move
 * @Component Description: Block which counts game play moves taken
 * @Author: NM Peters
 */

.game-moves{
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  max-width: calc(39em - 30px);
  padding: 10px;
  border-radius: 5px;
}
