/**
 * @Component Name: Game Grid
 * @Component Description: The main area that holds the memory cards
 * @Author: NM Peters
 */

.game-grid{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

  @media screen and (min-width: 48em){
    max-width: 48em;
    margin: 0 auto;
  }

}
