/**
 * @Component Name: Layout
 * @Component Description: General Page Layout
 * @Author: NM Peters
 */

body {
  background-color: $theme-grey;
  font-family: arial;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}
