/**
 * @Component Name: Game Grid
 * @Component Description: The main area that holds the memory cards
 * @Author: NM Peters
 */

.game-grid{

  max-width: 100%;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    max-width: 39em;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
